<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UI Note</title>
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>UI patient</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="container mt-5">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-1 py-5"><img class="rounded-circle mt-5"
                                                                                             width="150px"
                                                                                             th:src="@{/patient.jpg}">
                    <span class="font-weight-bold"><span th:text="${patient.getFirstName()}"></span> <span
                            th:text="${patient.getLastName()}"></span></span>
                    <p class="text-black-50">
                        Gender: <span th:text="${patient.getGender()}"></span></br>
                        Address: <span th:text="${patient.getAddress()}"></span></br>
                        Phone: <span th:text="${patient.getPhone()}"></span>
                    </p>

                </div>
                <div class="border border-dark p-3 bg-secondary text-white">
                    <h2 class="text-center">Report</h2>
                    <p class="text-left">
                        Age: <span th:text="${report.getAge()}"></span></br>
                        Diabetes assessment is: <span th:text="${report.getLevel()}"></span>
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="p-3 py-5">
                    <a class="btn btn-success" th:href="@{/ui/patient/}">Home</a>
                    <div th:if="${noteCreated}" th:utext="${noteCreated}" class="alert alert-success text-center"></div>
                    <div th:if="${noteDeleted}" th:utext="${noteDeleted}" class="alert alert-danger text-center"></div>
                    <div th:if="${noteUpdated}" th:utext="${noteUpdated}" class="alert alert-warning text-center"></div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Notes / Recommendations</h4>
                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#connectionModal">Create</a>

                        <!--Modal add note / recommendation-->
                        <div class="modal fade" id="connectionModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form name="transaction_form" method="post"
                                          th:action="@{/ui/note/createNote/{id}(id=${patient.id})}"
                                          th:object="${noteDTO}">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="connectionModalLabel">Add a recommendation</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label class="col-form-label">Practitioner</label>
                                                    <input
                                                            class="form-control"
                                                            id="practitioner_name" th:name="report"
                                                            th:field="*{practitionerName}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-form-label">New recommendation:</label>
                                                    <textarea
                                                            rows="10"
                                                            class="form-control"
                                                            id="report" th:name="report"
                                                            th:field="*{report}"
                                                    ></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="reset"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="reset"
                                                    class="btn btn-warning">
                                                Reset
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-primary">
                                                Submit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered ">
                        <tr>
                            <th>Practitioner Name</th>
                            <th>Report</th>
                            <th>Actions</th>
                        </tr>
                        <tr th:if="${#lists.isEmpty(notes)}">
                            <td class="text-center" colspan="7">No Recommendations found. Add some...!</td>
                        </tr>
                        <tr th:each="note : ${notes}">
                            <td class="align-middle" th:text="${note.getPractitionerName()}"></td>
                            <td class="align-middle" th:text="${note.getReport()}"></td>
                            <td class="align-middle text-center">
                                <!--        <a class="btn btn-secondary" th:href="@{/ui/patient/update/{id}(id=${patient.id})}"></a>-->
                                <a class="btn btn-danger"
                                   th:href="@{/ui/note/delete/{id}(id=${note.getId()})}">Delete</a>


                                <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#connectionModal1">Update</a>
                                <!--Modal add note / recommendation-->
                                <div class="modal fade" id="connectionModal1" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form name="transaction_form" method="post"
                                                  th:action="@{/ui/note/update/{id}(id=${note.id})}"
                                                  th:object="${noteDTO}">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        id="connectionModalLabel1">Add a recommendation</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label class="col-form-label">Practitioner</label>
                                                            <label class="col-form-label"
                                                                   th:text="${note.getPractitionerName()}"></label>

                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-form-label">New recommendation:</label>
                                                            <textarea
                                                                    rows="10"
                                                                    class="form-control"
                                                                    id="reportUpdated" th:name="reportUpdated"
                                                                    th:text="${note.getReport()}"
                                                                    th:field="*{report}"
                                                            ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="reset"
                                                            class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="reset"
                                                            class="btn btn-warning">
                                                        Reset
                                                    </button>
                                                    <button type="submit"
                                                            class="btn btn-primary">
                                                        Submit
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'}"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!-- <script th:src="@{'https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js'}"></script>
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js'}"></script>-->
    <script th:src="@{'https://code.jquery.com/jquery.min.js'}"></script>
    <script th:src="@{'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'}"></script>
</body>
</html>